<p style="color: green"><%= notice %></p>
 
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  
    
      <% @lists.each do |list| %>
        <%= render list %>
      <% end %>
     
  </tbody>


</table>



<%= link_to "New list", new_list_path %>
